<app-menu></app-menu>
<p>

</p>
<div class="container">
    <div class="row md-3">
        <div class="col" *ngFor="let topic of topics">
            <div class="col"></div>
            <div class="card" style="width: 18rem;" ng-cloak>
                <div class="card-header">
                </div>
                <div class="card-body rounded" style="background-color: rgba(77, 201, 195, 0.364);">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class=""></div>
                        </div>
                        <h3>{{topic.tema}}</h3>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class=""></div>
                            <h4>¿De que trata?</h4>
                        </div>
                        <p>

                        </p>
                        <h6 style="font-style: oblique;">
                            [Aqui deberia ir una descripcion un tanto larga y este texto es solo de prueba, por lo que
                            no es necesario que lo leas completo... enserio no lo hagas......... para de leer por
                            favor...]
                        </h6>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn" id="entrar"
                        style="background-color: rgba(0, 128, 79, 0.474);"><label style="color:white;"><i
                                class="bi bi-plus-circle"></i> Inscribirse</label></button>
                </div>
            </div>
            <div class="col"></div>
            <pre>

            </pre>
        </div>
        <div class="col"></div>
    </div>
</div>