<app-menu></app-menu>
<p>
    
</p>
<div>
    <div class="row">
        <div class="col"></div>
        <div class="card" style="width: 18rem;" ng-cloak>
            <div class="card-header">
            </div>
            <div class="card-body rounded"  style="background-color: rgba(137, 43, 226, 0.481);">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class=""></div>
                    </div>
                    <h3>[Nombre Tema]</h3>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class=""></div>
                        <h4>¿De que trata?</h4>
                    </div>
                    <p>
                        
                    </p>
                    <h6 style="font-style: oblique;">
N. Control: S18030193 
Carrera: Sistemas Coputacionales
Generacion: 2018-2023
Especialidad: Ingenieria en Software
                    </h6>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn" id="entrar" style="background-color: rgba(85, 107, 47, 0.679);"><label style="color:white;"><i class="bi bi-plus-circle"></i> Inscribirse</label></button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="card" style="width: 18rem;" ng-cloak>
            <div class="card-header">
            </div>
            <div class="card-body rounded"  style="background-color: rgba(137, 43, 226, 0.481);">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class=""></div>
                    </div>
                    <h3>[Nombre Tema]</h3>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class=""></div>
                        <h4>¿De que trata?</h4>
                    </div>
                    <p>
                        
                    </p>
                    <h6 style="font-style: oblique;">
N. Control: S18030193 
Carrera: Sistemas Coputacionales
Generacion: 2018-2023
Especialidad: Ingenieria en Software
                    </h6>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn" id="entrar" style="background-color: rgba(85, 107, 47, 0.679);"><label style="color:white;"><i class="bi bi-plus-circle"></i> Inscribirse</label></button>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="card" style="width: 18rem;" ng-cloak>
            <div class="card-header">
            </div>
            <div class="card-body rounded"  style="background-color: rgba(137, 43, 226, 0.481);">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class=""></div>
                    </div>
                    <h3>[Nombre Tema]</h3>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class=""></div>
                        <h4>¿De que trata?</h4>
                    </div>
                    <p>
                        
                    </p>
                    <h6 style="font-style: oblique;">
N. Control: S18030193 
Carrera: Sistemas Coputacionales
Generacion: 2018-2023
Especialidad: Ingenieria en Software
                    </h6>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn" id="entrar" style="background-color: rgba(85, 107, 47, 0.679);"><label style="color:white;"><i class="bi bi-plus-circle"></i> Inscribirse</label></button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>